<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>重置密码</title>
        <link rel="stylesheet" th:href="@{/css/manageUser.css}">
    </head>
<body>
    <h2>密码重置</h2>
    <table>
        <tr>
            <th>用户ID</th>
            <th>操作</th>
        </tr>
        <tr th:each="m:${user}">
            <td th:text="${m}"></td>
            <td>
                <a th:href="@{'../manageUser/resetPassword/reset?userId=' + ${m}}">重置为默认密码</a>
            </td>
        </tr>
    </table>
    <br/>
    <a href="/manageUser">返回用户管理</a>
</body>
</html>